.popup_text{

    overflow-y: auto;
    scroll-snap-align: start;
    padding: 15px;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
}

.popup_content_header{
    color: #ff7175;
    margin: 15px;
    margin-left: 0px;
}

.popup_tex_content{
    margin-left: 0px;
}

.key_word_text{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px;
}

.key_word_text span{
    font-weight: 800;
}

.popup_method_list li{  
    margin: 15px;
}

.popup_method_list li ul{
    margin-left: 25px;
}

.popup_method_list li::marker{
    font-size: 30px;
    color: rgb(0, 112, 192);
}

.list_second_level li{
    font-size: 20px;
    list-style-type: none;
}

.list_second_level > li::marker{
    color: black;
    content: '-  ';
    margin-right: 25px;
}

.popup_text::-webkit-scrollbar-track
{   
    border-radius: 10px;
	background-color: #dadada;
	border-radius: 0px;
    padding: 15px;
    width: 25px;
}

.popup_text::-webkit-scrollbar
{
    border-radius: 10px;
	width: 10px;
	background-color: #F5F5F5;
    padding: 15px;
    width: 15px;
}

.popup_text::-webkit-scrollbar-thumb
{   

	background-color: rgba(0, 0, 0, .2);
	border-radius: 10px;
	background-image: rgba(0, 0, 0, .2);
    width: 15px;
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    top: 0;
    left: 0;
    color: white;
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;
}


.close{
    visibility: hidden;
    opacity: 0;
}

.popup_body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}

.popup_content {
    background-color: white;
    color: black;
    border-radius: 25px;
    padding: 25px;
}

.popup_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    color: rgb(255, 113, 117);
    font-size: 25px;
}


.popup_header h3{
    margin-right: 50px;
}

.popup_header button{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    border: 0;
}

.popup_header button:active{
    background-color: rgb(147, 189, 219);
}

.popup_header img{
    margin: 5px;
    height: 40px;
    width: 40px;
}


.close_popup {
    font-size: 25px;
    margin-right: 5px;
}

.close_popup:active {
    color: rgb(255, 113, 117);
}

.popup_text {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
}

.popup::-webkit-scrollbar {
    width: 0;
}

.popup:target{
    opacity: 1;
    visibility: visible;
   
}

.popup_text h3{
    font-weight: 500;
    text-align: start;
    margin-bottom: 15px;
}


#open_popup_button{
    cursor: pointer;
}

#close_popup_button_1{
    cursor: pointer;
}

.theory_eom{
    flex-direction: column;
    height: 65vh;
    overflow-y: auto;
    margin-right: 25px;

}

.image_part{
    padding-top: 25px;
    position: relative;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
    margin: 35px;
    border-radius: 35px;

}

.zoom_popup{
    cursor: pointer;
    border: 0;
    position: relative;
    left:93%;
    bottom: 92%;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zoom_popup:active{
    background-color: rgb(147, 189, 219);
}

.zoom_popup img{
    width: 35px;
    height: 35px;
}

.first{
    padding-top: 15px;
    display: flex;
    align-items: center;
}

.theory_eom::-webkit-scrollbar-track
{   
    border-radius: 10px;
	background-color: #dadada;
	border-radius: 0px;
    padding: 15px;
    width: 25px;
}

.theory_eom::-webkit-scrollbar
{
    border-radius: 10px;
	width: 10px;
	background-color: #F5F5F5;
    padding: 15px;
    width: 15px;
}

.theory_eom::-webkit-scrollbar-thumb
{   

	background-color: rgba(0, 0, 0, .2);
	border-radius: 10px;
	background-image: rgba(0, 0, 0, .2);
    width: 15px;
}

.popup_text img{
    height: 100%;
}

.left_side video{
    width: 80%;
}

.right_side video{
    
    width: 80%;
}

.second{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 1180px) {
    .black_header{
        height: 120px;
    }


    .black_header h1{
        width: 50%;
    }

    .step_marker_and_buttons{
        display: flex;
    }

    .theory_eom{
        height: 400px;
    }
    .content{
        margin-right: 0;
    }
    .popup_text img{

        height: 100%;
    }
    .popup_body{
        height: 80vh;
    }
    .popup_content {
        height: 80vh;
    }
    .popup_text{
        display: flex;
        align-items: center;
        height: 500px;
    }
}


@media (max-width: 1180px){
    .black_header{
        
      height: 180px;
    }
    .item, .item2, .item3, .item4 {
      width: 180px;
    }
  }