.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000050;
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup_body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
}

.popup_content {
    background-color: white;
    color: black;
    max-width: 90vw;
    border-radius: 15px;
    padding: 25px;
}

.popup_header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    color: rgb(255, 113, 117);
    font-size: 22px;
}

.close_popup {
    font-size: 25px;
    width: 25px;
    margin-right: 5px;
    color: black;
}

.close_popup:active {
    color: rgb(255, 113, 117);
}

.popup_text {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.popup_text img{
    max-width: 80vw;
}

.popup::-webkit-scrollbar {
    width: 0;
}

.popup:target{
    opacity: 1;
    visibility: visible;
}


.popup_text{
    align-items: flex-start;
    flex-direction: column;
}

.popup_content_header{
    color: #ff7175;
    margin: 15px;
    margin-left: 0px;
}

.popup_tex_content{
    margin-left: 0px;
}

.key_word_text{
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px;
}

.key_word_text span{
    font-weight: 800;
}

.popup_method_list li{  
    margin: 15px;
}

.popup_method_list li ul{
    margin-left: 25px;
}

.popup_method_list li::marker{
    font-size: 30px;
    color: rgb(0, 112, 192);
}

.list_second_level li{
    font-size: 18px;
    list-style-type: none;
}

.list_second_level > li::before{
    content: '\2014';
    position: absolute;
    margin-left: -40px;
}

.popup_text{
    padding-bottom: 0;
    margin-bottom: 15px;
}

.popup_text li{
    font-size: 22px;
    margin-bottom: 15px;
}

.popup_text ol li::marker{
    font-size: 30px;
    font-weight: 800;
}